/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// COLORS
$white: #fff;
$black: #000;
// For pargraph text against the dark grey background
$lightgrey: #c0c0c0;
//dark grey background primarily
$darkgrey: #1C1C1E;
//for subheaer background
$subheadgrey: #ECECEC;

//NASCAR COLORS: USE FOR YOUR OWN
$blue: #0477BE;

$red: #DD002A;

$yellow: #F9D159;
