#social{
    border-top: 3px $darkgrey;
    border-bottom: 3px $darkgrey;
    padding-bottom: 15px;
}

#footer{
    background-color: $subheadgrey;
}

#info{
    text-align: center;
    padding: 25px 0px 25px 0px;
}
