#backgroundvideocontainer{
    width: 100%;
    #backgroundoverlay{
        width: 100%;
        background-color: $darkgrey;
        opacity: .7;
        height: 1200px;
        position: absolute;
        z-index: 1000000;
    }
        #video-container{
            position: relative;
            z-index: -1;
            video{
                width: 100%;
            }
        }

}

#nascarhome{
    background-color: $darkgrey;

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". nascarhome .";
    }
#nascarhomecontainer{
    grid-area: nascarhome;


    #homehero{
    width: 100%;

    }

    #quicklinks{
        padding: 40px 0;
        border-bottom: 1px solid $lightgrey;
        @include md{
            padding: 40px 0;
            margin: 0 48px;
        }
        @include lg{
            padding: 40px 0;
            margin: 0 42px;
        }
        ul{
            @include md{
                width: 60%;
            }



            a:link, a:visited{
                text-decoration: none;
                transition: .25s;
            }

            a:hover, a:active{
                img{
                    transform: translateX(5px);
                }
                        }

            li{
                margin-bottom: 10px;
                padding: 20px;


                @include md{
                    padding: 40px 20px;
                    margin-bottom: 20px;
                }
                img{
                    width: 150px;
                    @include md{
                        width: 300px;
                        margin-bottom: -30px;
                    }
                }
            }

            #whatisasportlink{
                background-color: $yellow;
                h5{
                    color: $darkgrey;
                }
                div{
                                        padding-top: 10px;
                    display: flex;
                    justify-content: flex-end;
                p{
                    color: $darkgrey;
                    padding-right: 10px;
                }
                }
            }

            #requiresstrategylink{
                background-color: $blue;
                div{
                    padding-top: 10px;
                        display: flex;
                        justify-content: flex-end;
                p{
                    color: white;
                        padding-right: 10px;
                }
                }
            }

            #requiresstrengthlink{
                background-color: $red;
                div{
                                        padding-top: 10px;
                    display: flex;
                        justify-content: flex-end;
                p{
                    color: white;
                        padding-right: 10px;
                }
                }
            }
        }
    }

    #recognition{
        padding: 40px 17px 40px 40px;
        border-bottom: 1px solid $lightgrey;
        @include md{
            padding: 40px 0;
            margin: 0 48px;
        }
        @include lg{
            padding: 40px 0;
            margin: 0 42px;
        }

        #recognitionwidth{
            padding-bottom: 40px;
            @include md{
                width: 450px;
            }
        }
        #companies{
            text-align: center;
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 20px;
            grid-row-gap: 40px;

            @include md{
                grid-template-columns: auto auto auto auto;
                grid-column-gap: 40px;
            }

            @include lg{
                grid-column-gap: 60px;
            }
            li{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

#testimonials{
    border-bottom: 1px solid $lightgrey;
    .testimonialheader{
        margin-bottom: 60px;
    }
    #testimonialgallery{
        ul{
            li{
                text-align: center;
                h5{
                    font-family: 'Oswald', sans-serif;
                    font-weight: 400;
                    font-size: rem-calc(18);
                    padding: 0 60px;
                    @include md{
                        font-size: rem-calc(24);
                    }

                    @include lg{
                            font-size: rem-calc(32);
                    }
                }

                p{
                    padding-top: 5px;
                    font-size: rem-calc(16);

                    @include md{
                        font-size: rem-calc(20);
                    }
                }
            }
            .quote{
            div{
                @include md{
                    padding: 50px 0;
                }
                @include lg{
                    padding: 150px 0;
                }

            }


            }
        }
    }
}

#signup{
    .sectionsidepadding{
        padding-bottom: 40px;
    }
    .contactform{
        display: flex;
        align-items: center;
        justify-content: center;
        form{
            width: 90%;
            label{
                display: block;
                font-family: 'Roboto', sans-serif;
                color: $lightgrey;
                margin-bottom: 5px;
            }
        @include md{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-column-gap: 20px;
        }
    }

    .feedback-input {
              font-family: 'Roboto', sans-serif;
              color: white;
              font-size: rem-calc(14);
              background-color: transparent;
              border:1px solid white;
              padding: 13px;
              margin-bottom: 15px;
              width:100%;
              box-sizing: border-box;
              outline:0;
            }

            .button{
                display: flex;
                justify-content: center;
                @include md{
                    display: block;
                    padding-top: 22.5px;
                }
            button{
                font-family: 'Oswald', sans-serif;
                background-color: white;
                color: $darkgrey;
                padding: 10px 40px;
                border: none;
                @include md{
                    padding: 13px 45px;
                }
            }
        }

    }
}

}
}
