#point3-container{
    max-width: 1400px;
    .QAcontainer{
        h4{
            color: $red;
        }
    }
    .sectionBase{
        padding: 47px 17px 47px 52px;
        background-color: $darkgrey;

        @include md{
            padding: 68px 48;
        }
        @include lg{
            padding: 60px 42;
        }
    }
    .titlePadding{
        padding-bottom: 17px;
    }
    .caption{
        padding-top: 10px;
        font-size: rem-calc(12);

    }
    .bigSection{
        grid-area: big;
    }
    .smallSection{
        grid-area: small;
    }

    .gridMain{
        @include md{
            display: grid;
            grid-gap: 17px;
            grid-template-columns: "40% 60%";
            grid-template-areas: "small big"
        }
        @include lg{
            grid-gap: 40px;
            ;
        }
    }
    h1{
        color: $red;
    }
    #hero3-bgimg{
        background-image: url("../img/point3/hero.jpg");
        background-position: center;
        background-size: cover;
        height: 500px;
    }

    #intro{
        #introCopy{
            h3{
                padding-bottom: 17px;
            }
        }
        #introImage{
            div{
                height: 30vh;
                width: 100%;
                margin-top: 52px;
                min-height: 250px;
                background-image: url("../img/point3/intro.jpg");
                background-position: center;
                background-size: cover;
                @include md{
                    margin-top: 0;
                }
            }
        }
    }
    #training{
        #trainingCopy{
            h3{
                display: block;
                padding-bottom: 17px;
                @include md{
                }
            }
        }
        #trainingImage{
            div{
                height: 30vh;
                width: 100%;
                margin-top: 52px;
                min-height: 250px;
                background-image: url("../img/point3/training.jpg");
                background-position: center;
                background-size: cover;
                @include md{
                    margin-top: 0;
                }
            }
        }
    }
    #physics{
        #physicsCopy{
            h3{
                display: block;
                padding-bottom: 17px;
                @include md{
                }
            }
        }
        #physicsImage{
            margin-top: 52px;
            text-align: center;
            width:  100%;
            display: grid;
            grid-template-columns: "50% 50%";
            grid-template-areas:
            "title title"
            "logoA labelA""logoB labelB"
            "logoC labelC";
            @include md{
                width: 300px;
                margin-top: 0;
            }
            @include lg{
                width: 400px;
            }
            i{
                padding: 15px;
                font-size: rem-calc(40px);
            }
            p{
                padding: 15px;
            }
            h4{
                color: white;
                grid-area: title;
            }
            #labelA{
                grid-area: labelA;
            }
            #labelB{
                grid-area: labelB;
            }
            #labelC{
                grid-area: labelC;
            }
            #car{
                color: white;
                grid-area:logoA;
            }
            #flag{
                color: white;
                grid-area:logoB;
            }#spaceShuttle{
                color: white;
                grid-area:logoC;
            }
        }
    }


    #biganimation3container{
    background-image: url('../img/point3/text3_bg.jpg');
    background-size: cover;
    overflow: hidden;

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". biganimationtwo .";
    }
    #biganimation3{

        @include xl{
            grid-area: biganimationtwo;
        }


                #text1_3{
                    opacity: 0;
                    margin: 40% 17px 0 17px;
                    position: absolute;

                    @include md{
                        margin: 30% 40px 0;
                    }

                    @include xl{
                        margin: 400px 40px 0;
                    }
                }

                #text2_3{
                                    opacity: 0;
                    margin: 40% 17px 0 17px;
                    position: absolute;

                    @include md{
                        margin: 30% 40px 0;
                    }

                    @include xl{
                        margin: 400px 40px 0;
                    }
                }

                #text3_3{
                                    opacity: 0;
                    margin: 40% 17px 0 17px;
                    position: absolute;

                    @include md{
                        margin: 30% 40px 0;
                    }

                    @include xl{
                        margin: 400px 40px 0;
                    }
                }

                #text4_3{
                                    opacity: 0;
                    margin: 40% 17px 0 17px;
                    position: absolute;

                    @include md{
                        margin: 30% 40px 0;
                    }

                    @include xl{
                        margin: 400px 40px 0;
                    }
                }

        #motionpath3container{
            position: relative;
            z-index: 10000;
            opacity: .25;
            margin-right: -50%;
            padding: 40px 17px;

            @include md{
                width: 700px;
                margin-left: 40%;
            }

            @include lg{
                width: 900px;
            }

            @include lg{
                width: 1200px;
            }
        }
        }
    }


    #insideTheCar{
        #insideTheCarCopy{
            h3{
                display: block;
                padding-bottom: 17px;
                @include md{
                }
            }
        }
        #insideTheCarImage{
            div{
                height: 30vh;
                width: 100%;
                margin-top: 52px;
                min-height: 250px;
                background-image: url("../img/point3/inside.jpg");
                background-position: center;
                background-size: cover;
                @include md{
                    margin-top: 0;
                }
            }
        }
    }
}
