#point2-container{

    .QA{
        h4{
            color: $blue;
        }
    }

    #hero_2{

        h1{
            color: $blue;
        }
        //
        .herosubheadercontainer{
            width: 50%;

            @include md{
                width: 70%;
            }
            @include lg{
                width: 700px;
            }
        }

        #hero2-bgimg{
            background-image: url('../img/point2/hero2-img.jpg');
            width: 100%;
            background-size: 150%;
            background-position: 40% 60%;
        }
    }


    #intro_2{
        overflow: hidden;
        background-color: $darkgrey;

        #point2fballplayer{
            width: 500px;
            padding: 10px 0;
        }

        #point2nascardriver{
            width: 500px;
            padding: 10px 0;
        }
    }


}
