#point2-container{

    .QA{
        h4{
            color: $blue;
        }
    }

    #hero_2{

        h1{
            color: $blue;
        }
        //
        .herosubheadercontainer{
            width: 50%;

            @include md{
                width: 70%;
            }
            @include lg{
                width: 700px;
            }
        }

        #hero2-bgimg{
            background-image: url('../img/point2/hero2-img.jpg');
            width: 100%;
            background-size: 150%;
            background-position: 40% 60%;
        }
    }

//INTRODUCTION
    #intro_2{
        overflow: hidden;
        background-color: $darkgrey;
    @include xl{
        display: grid;
        grid-template-columns:auto 1200px auto;
        grid-template-areas: ". introtwo .";
    }

        #intro_2_container{
            @include xl{
                grid-area: introtwo;
            }

        .intro_p_width{
            @include md{
                width: 400px;
            }
        }

        .likeafball{
            @include md{ width: 400px;}
        }

        #versus2container{
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas:
                "fballtxt ndriver"
                "fballplayer ndrivertxt";
            }



            #fball2text{
                @include md{
                    grid-area: fballtxt;
                    margin-top: 30px;
                }
            }
        #point2fballplayer{
            img{
                width: 530px;
                padding: 10px 0;

                @include lg{
                    width: 590px;
                }
            }

            @include md{
                grid-area: fballplayer;
                margin-top: -240px;

            }

        }

        #ndriver2text{
            @include md{
                grid-area: ndrivertxt;

            }
        }

        #point2nascardriver{
            img{
                width: 460px;
                padding: 10px 0;
                @include lg{
                    width: 540px;
                }
            }
            @include md{
                grid-area: ndriver;
                margin-left: -50px;
            }

        }
    }
    }
}

//INDIVIDUAL strategies

#individual_strategies{
    background-color: $darkgrey;
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". instrategies .";
    }
    #individual_strategies_container{
        @include xl{
            grid-area: instrategies;
        }

    #individualstrategiescontentcontainer{

        @include md{
            display: grid;
            grid-template-columns: auto 60%;
            grid-template-areas: "drivetimes drivepg"
                                "carsontracktwo carsontrackpg"
                                "interiortwo interiorpg";

            grid-row-gap: 60px;
            grid-column-gap: 40px;
            padding-top: 50px;
        }

        @include lg{
            grid-template-columns: auto 71%;
        }

        .sectionsidepadding{
            padding-top: 30px;
            padding-bottom: 30px;

            @include md{
                padding-top: 0;
            }
        }

        h5{
            padding-bottom: 7px;
            @include lg{
                padding: 0 0 0 0;
            }
        }
        #is1{
            display: flex;
            justify-content: center;
            padding: 30px 0;
            border-bottom: 1px solid $lightgrey;

            @include md{
                border: none;
                grid-area: drivetimes;
                padding: 0;
                margin: 0 0 0 20%;
            }
        }
        #is2{
            @include md{
                grid-area: drivepg;
            }
        }
        #is3{
            div{
                background-image: url('../img/point2/carsontrack.jpg');
                width: 100%;
                height: 340px;
                background-size: cover;
                @include md{
                    height: 300px;
                        margin: 0 0 0 48px;
                }
            }
            @include md{
                grid-area: carsontracktwo;
            }
        }
        #is4{
            border-bottom: 1px solid $lightgrey;
            @include md{
                border: none;
                grid-area: carsontrackpg;
            }
        }
        #is5{
            @include md{
                border: none;
                grid-area: interiorpg;
            }
        }
        #is6{
            div{
                background-image: url('../img/point2/interior.jpg');
                width: 100%;
                height: 340px;
                background-size: cover;

                @include md{
                    height: 300px;
                        margin: 0 0 0 48px;
                }
            }

            @include md{
                border: none;
                grid-area: interiortwo;
            }
        }
    }

    }
}

//TEAM STRATEGIES

#team_strategies{
    background-color: $darkgrey;
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". instrategies .";
    }
    #team_strategies_container{
        @include xl{
            grid-area: instrategies;
        }

    #teamstrategiescontentcontainer{

        @include md{
            display: grid;
            grid-template-columns: auto 60%;
            grid-template-areas: "pittimes fastpg"
                                "bluepit techpg"
                                "nightpit togetherpg";

            grid-row-gap: 60px;
            grid-column-gap: 40px;
            padding-top: 50px;
        }

        @include lg{
            grid-template-columns: auto 71%;
        }

        .sectionsidepadding{
            padding-top: 30px;
            padding-bottom: 30px;

            @include md{
                padding-top: 0;
            }
        }

        h5{
            padding-bottom: 7px;
            @include lg{
                padding: 0 0 0 0;
            }
        }
        #ts1{
            text-align: center;
            padding: 30px 0;
            border-bottom: 1px solid $lightgrey;

                p{
                    padding-top: 30px;
                font-size: rem-calc(13);
                }

            @include md{
                border: none;
                grid-area: pittimes;
                padding: 0;
                margin: 0 0 0 20%;
            }
        }
        #ts2{
            @include md{
                grid-area: fastpg;
            }
        }
        #ts3{
            div{
                background-image: url('../img/point2/pitcrew2.jpg');
                width: 100%;
                height: 340px;
                background-size: cover;
                @include md{
                    height: 300px;
                        margin: 0 0 0 48px;
                }
            }
            @include md{
                grid-area: bluepit;
            }
        }
        #ts4{
            border-bottom: 1px solid $lightgrey;
            @include md{
                border: none;
                grid-area: techpg;
            }
        }
        #ts5{
            @include md{
                border: none;
                grid-area: togetherpg;
            }
        }
        #ts6{
            div{
                background-image: url('../img/point2/pitcrew1.jpg');
                width: 100%;
                height: 340px;
                background-size: cover;

                @include md{
                    height: 300px;
                        margin: 0 0 0 48px;
                }
            }

            @include md{
                border: none;
                grid-area: nightpit;
            }
        }
    }

    }
}


//tldr
#tldr{
    background-image: url('../img/point2/text-bg.jpg');
    background-size: contain;
    @include xl{
        display: grid;
        grid-template-areas: ". tldrcont .";
        grid-template-columns: auto 1200px auto;
    }
    #tldrcontainer{

        @include xl{
            grid-area: tldrcont;
        }
        #tldrpgcontainer{
            @include md{
                width: 400px;
                margin: 0 0 0 28%;
            }
            p{
                font-size: rem-calc(24);
                line-height: rem-calc(38);
            }
        }
    }
}



}
