.point_hero{
        padding-top: 60px;
        background-color: $darkgrey;
        color: $white;

        @include sm{
            padding-top: 80px;
        }

        @include md{
            padding-top: 90px;
        }

        @include lg{
            padding-top: 125px;
        }

        @include xl{
            display: grid;
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". pointhero .";
        }
    .herosectionpadding{
        padding: 0 17px 0 48px;
        @include md{
            padding: 41px 48px;
            display: grid;
            grid-template-columns: 45% 55%;
            grid-template-areas: "point pointimg"
                                "number pointimg"
                                "pointsubhead pointsubhead"
                                "arrow paragraph";
        }

        @include lg{
            grid-template-columns: 40% 60%;
        }

        @include xl{
            grid-area: pointhero;
        }
        .point{
            display: flex;
            align-items: center;
            margin-left: -75px;

            @include md{
                grid-area: point;
                align-items: flex-start;
            }

            @include xl{
                margin-left: -175px;
            }
            div{
                background-color: $white;
                width: 75px;
                height: 2px;

                @include xl{ width: 175px;}
            }
            h6{
                padding-left: 5px;
                color: $white;
                @include md{
                    margin-top: -7px;
                }
            }
        }

        h1{
            margin: -10px 0 0 -10px;
            @include md{
                grid-area: number;
                margin: -80px 0 0 -10px;
            }

            @include lg{
                margin: -80px 0 0 -20px;
            }
        }

    .herosubheadercontainer{
        margin-top: -20px;
        @include md{
                        grid-area: pointsubhead;
                         margin-top: -40px;
        }
    }

        .pointheroimg{
            display: none;
            margin-bottom: -310px;
            opacity: .25;
            height: 300px;

            @include md{
                opacity: 1;
                margin: 0;
                display: block;
                height: 366px;
                grid-area: pointimg;
            }
            @include lg{
                height: 407px;
            }
        }

        img{
                display: none;
            @include md{
                display: block;
                grid-area: arrow;
                padding-top: 40px;
            }
        }

        p{
            padding: 10px 0 45px 0;
            @include md{
                grid-area: paragraph;
                padding: 0;
            }
        }
    }
}


.QAcontainer{

    @include xl{
        background-color: $qagrey;
        display: grid;
        grid-template-columns: auto 1200px auto;
                grid-template-areas: ". qa .";
    }

.QA{

    background-color: $qagrey;
    padding: 40px 17px;
    @include md{
        display: grid;
        grid-template-columns: 10% 20% 70%;
        padding: 40px;
    }

    @include lg{
        padding: 40px 45px;
            grid-template-columns: 8% auto 70%;
    }

    @include xl{
        grid-area: qa;
    }

    h4{
        font-size: rem-calc(45);
        @include md{
            font-size: rem-calc(50);
        }

        @include lg{
            font-size: rem-calc(60);
        }
    }

.verticalline{
    @include md{
        width: 141px;
        height: 1px;
        background-color: white;
        margin-top: 50px;
    }

    @include lg{
        width: 221px;
    }
}

    p{
        color: $white;
        font-size: rem-calc(20);
        padding: 80px 0 0 10px;
        border-left: 1.45px solid $white;
        @include md{
            font-size: rem-calc(22);
            border: none;
                    margin-top: -50px;
        }

        @include lg{
            font-size: rem-calc(24);
            padding-left: 5px;
        }
    }
}
}

//THIS IS FOR ADDING PADDING TO ANY ELEMENT THAT YOU NEED. SEE POINT 2'S PAGE FOR EXAMPLE.
.sectionpadding{
    padding: 47px 17px 47px 52px;

    @include md{
        padding: 68px 48px;
    }
    @include lg{
        padding: 60px 42px;
    }
}
